
body {
    background-color: #343A3D;
}
h1 {
	text-align: center;
	color: #377AA6;
}
h2 {
	color: orange;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
	border: 1px solid #a1a1a1;
    padding: 10px 40px; 
}
div.image {
	margin: 10px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: 200px;
    text-align: center;
}
div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px
  margin: 5px;
}
.main{
	background-color:#f0f3f5;
	margin-left:25px;
	margin-right:25px;
	border-radius:20px;
}
.sidebar{
	display:block;
	width:100px;
	float:left;
}
div.sidebar ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
}
a:link, a:visited {
    display: block;
    font-weight: bold;
    color: black;
    background-color: #E8E8E8 ;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #A0A0A0;
